:root{
    --blanco:#FFFFFF;  /* custom properties */
    --obscuro:#212121;
    --prmario:#FFC107;
    --secundario:#0097A7;
    --gris:#757575;
    --azulClaro:#8ddaee;

}

/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit; /* hack para el box model */
  }
body{
    font-size: 16px; /* 1rem = 10px*/
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--azulClaro) 0%, var(--blanco) 100%);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto; /* con solo 2 valores css repite los varios los restantes*/
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 1rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 760px) { 
    .boton{
        width: auto;
    }
}

/* tipografia */
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}

/* titulo */
.titulo span{
    font-size: 2rem;
}

/* Navegacion */
.nav-bg{
     background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 48rem) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-principal a:hover{
    background-color: var(--prmario);
    color: var(--obscuro);
}

/* Hero */
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, .8); /** sitaxis anterior para poner trasparenciaen el alpha channer**/
    background-color: rgb(0 0 0 / .8); /*nueva sintaxs para agregar trasnparencia suando solo rgb*/
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, 
.contenido-hero p {
    color: var(--blanco);
}

.contenido-hero .ubicacion{
    display: flex;
    justify-content: flex-end;
}

